._1yib{bottom:0;left:0;overflow-y:hidden;pointer-events:none;position:fixed;right:0;top:0;z-index:401}._2alo{position:absolute}
.flashFallbackButton{text-align:center}

#bootloader_KoK7T{height:42px;}.bootloader_KoK7T{display:block!important;}