._5si9{margin:60px 0}
.sp_1_GhY90ihS5_1_5x{background-image:url(/rsrc.php/v3/yA/r/HzVVUm4Gxkj.png);background-size:22px 44px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_1_GhY90ihS5_1_5x.sx_eedc75{background-position:0 0}.sp_1_GhY90ihS5_1_5x.sx_6eb577{background-position:0 -22px}

#bootloader_eaxGd{height:42px;}.bootloader_eaxGd{display:block!important;}