._4m1b{display:flex}
._2x65 ._3sts{padding-top:12px}._2x65{top:13px}._2x66 ._2ekr{vertical-align:top}
._3vnr{border:2px solid #fff;border-radius:50%;border-width:2px}._3vns{background-color:#4080ff;border:2px solid #fff;border-radius:50%;border-width:2px}._3vnt{background-color:#bec2c9;border:2px solid #fff;border-radius:50%;border-width:2px}
._4sjv{display:flex;flex-direction:row;flex-wrap:wrap}._4sju{display:flex;margin:0 4px 4px 0}
._26lz{display:flex;flex-direction:row;width:100%}._26l-{margin-right:-5px;width:100px}._26l_{width:100px}._164q{margin:0 auto}
._24io{height:46px}
._2i1s{max-height:82px;overflow-y:auto}
._3mds{background:#f2f2f2;height:100%;overflow:hidden;position:relative;text-align:center}._1zst{border-top:1px solid #dddfe2;padding:12px}._2aii{margin:-5px 20px 0;top:50%}._zxy._zy5{padding-top:90px}html ._3mdt{background-color:#e9ebee}
._4vsh{float:left;text-decoration:underline}._5vll{color:#ccc;cursor:default}._4vsi{border-bottom-left-radius:3px;margin:-12px;overflow:hidden}._4vsj{cursor:pointer;margin-bottom:8px}

#bootloader_R1a9U{height:42px;}.bootloader_R1a9U{display:block!important;}